@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
:root {
  --color_text-primario: #34358d;
  --color_text_secundario: #000000;
  --color_text_terciario: #f6f1ef;
}
.btnnuevo {
  cursor: pointer;
  color: white;
  background: var(--color_text-primario);
  border: 5px;
  border-radius: 5px;
  font-size: xx-large;
  width: 120px;
  box-shadow: 0px 0px 2px 2px rgb(44, 65, 98);
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;
  margin-left: 450px;
}

.contenedor_presupuesto {
  max-width: 1200px;
  height: fit-content;
  margin: auto;
  margin-top: 40px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  font-size: larger;
  box-shadow: 0px 0px 2px 2px rgb(44, 65, 98);
  margin-bottom: 10px;
  
}
.ingreso_presupuesto {
    
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.fechas {
    margin-top: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.datos_principales{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-right: 21px;
}

input {

    color: black;
    width: 250px;
    height: 30px;
    outline: invert;

}