*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
:root{
    --color_text-primario:#34358D;
    --color_text_secundario:#000000;
    --color_text_terciario:#F6F1EF;
    
}

header{
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color:white ;
    box-shadow: #5e7c293d 0px 7px 29px 0px;

}

.container_header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

}

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.logo img{
    width: 100px;
    
  
}
.menu{
    display: flex;
    align-items: center;
}
.menu nav{
    margin: 0px 0px;
    
}

.menu  nav ul{
    display: flex;
}

.menu  nav ul li{
    list-style: none;
    margin: 20px 16px;
}

.menu nav ul li a{
    color:green; 
    font-size: 16px;
    position: relative;
}

.menu nav ul li a:hover{
    color: beige;

}
.portada{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    justify-self: unset;
}

.portada img{
    margin-top: 10px;
    width: 400px;
    border-radius: 15px;
    margin-left: 5px;

}
.contenedor{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left:30px;
    justify-self: unset;

}
.botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(214, 222, 245, 0.098);
    margin-right: 30px;
    border-radius: 15px;
}
.botones p{
    text-align: justify;
    padding: 50px;
    margin-top: 150px;
    margin-bottom: 80px;
    font-size: x-large;
    font-style: italic;
    color:var(--color_text-primario) ;
}
.btninicio{
    margin-bottom: 15px;
    color:white;
    background:#638cb5;
    border:5px;
    border-radius: 5px;
    font-size: larger;
    width:120px;
    height:25px;

}
.btnregistro{
    color:white;
    background:#638cb5;
    border:5px;
    border-radius: 5px;
    font-size: larger;
    width:95px;

    height:25px;


}